# Frontend
VITE_API_URL=https://seu-backend.onrender.com

# Backend
PORT=3000
NODE_ENV=production
FRONTEND_URL=https://seu-frontend.vercel.app
BACKEND_URL=https://seu-backend.onrender.com
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/forgeflow
JWT_SECRET=troque-por-um-segredo-grande
SESSION_SECRET=troque-por-outro-segredo-grande

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
